*{
    border :0px;
    margin :0px;
    font-size:100%;
    box-sizing: border-box;
}

div{
    padding: 40px;
    width: 40px;
    margin: 40px;
    background-color: yellow;
    height: 40px;
    border: 2px red solid;
}